<div id="content">
<div id="middle">
<h1><img src="img/icon_check_tit.png" width="17" height="17" align="absmiddle" /> Check-in Online:</h1><img src="img/linha_tit_home.gif" width="734" height="1" />
<div id="gestao">
<div id="alerta">*Tempo de espera baseado no tempo que o último cliente a sentar esperou na fila</div>
<div id="check_rest"><span class="nome_rest">Outback Rio Sul</span><span class="end_rest"><a href="https://maps.google.com.br/" target="_blank"><img src="img/icon_pin_rest.png" width="10" height="14" align="absmiddle" /> Ver endereço do restaurante</a></span></div>
<div id="passos">
<div id="passo1">
<div id="passo1_tit"><span class="passo1">1° Passo - Escolha uma opção de mesa</span></div>
<div id="passo1_box"><span class="passo1_box"><input name="" type="radio" value="" /> 0 a 2 pessoas<br /><span class="espera"><i>Espera: 45 minutos | 8 mesas</i></span><input name="" type="radio" value="" /> 3 a 4 pessoas<br /><input name="" type="radio" value="" /> 5 a 6 pessoas<br /><input name="" type="radio" value="" /> Acima de 6 pessoas (quantas? <input type="text" class="quant_pax" /> )</span><br /> <a href="#dialog2" name="modal"><img src="img/bt_checkin2.png" width="107" height="33" alt="fazer check-in" class="bt_checkin" /></a></div>
</div>

<div id="passo2">
<div id="passo2_tit"><span class="passo2">Confirmação de Check-in</span></div>
<div id="passo2_box"><span class="passo2_box"><strong>Bruno,</strong> <strong><i>seu check-in foi efetuado com sucesso!</i></strong><br />Você é o <font size="+1" color="#FF6600">9°</font>da fila<br /><strong>Tempo estimado de espera:</strong> <font size="+1" color="#FF6600">45</font> minutos<br /><br />
    <a href="#"><img src="img/bt_novocheckin.png" width="129" height="32" vspace="1" /></a><a href="#"><img src="img/bt_finaldafila.png" width="129" height="32" hspace="12" vspace="1" /></a><a href="#"><img src="img/bt_sairdafila.png" width="86" height="32" alt="sair da fila" vspace="1" /></a></span></div>
</div>
</div>

</div>
<div id="divider"><img src="img/divider.png" width="734" height="1" /></div>
<div id="destaques"><a href="#"><img src="img/box_downloadapp_home.jpg" width="237" height="109" alt="download app" /></a> <a href="cadastro_rest.html"><img src="img/box_cadastrorest_home.jpg" width="237" height="109" alt="cadastro restaurante" hspace="5" /></a> <a href="reserva.html"><img src="img/box_reserva_home.jpg" width="237" height="109" alt="reserva mesa" hspace="5" /></a></div>
</div>

<div id="publicidade">
  <a href="#"><img src="img/pub01.jpg" width="173" height="292" alt="pub01" /></a><br />
  <a href="#"><img src="img/pub02.jpg" width="173" height="260" alt="pub02" vspace="5" /></a><br />
</div>

</div>