<!doctype html>
<html>
<head>
        <title>Hostess</title>
        <!--[if IE 7]><style type="text/css">#v-nav>ul>li.current{border-right:1px solid #fff!important}#v-nav>div.tab-content{z-index:-1!important;left:0}</style><![endif]-->
        <!--[if IE 8]><style type="text/css">#v-nav>ul>li.current{border-right:1px solid #fff!important}#v-nav>div.tab-content{z-index:-1!important;left:0}</style><![endif]-->
        <link rel="stylesheet" href="css/pages.css" />
        <link rel="stylesheet" href="css/styles.css" />
    </head>
<body>
       
        <div class="wrapper">
            <div id="v-nav">
                <ul>
                    <li tab="tab1" class="first current">Design</li>
                    <li tab="tab2">Specs</li>
                    <li tab="tab3">Price</li>
                    <li tab="tab4" class="last">Release Date</li>
                </ul>

                <div class="tab-content">
                    <h4>
                        iPhone LiquidMetal Concept
                    </h4>
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm.jpg" width="100%" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm2.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm3.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm4.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm5.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm6.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm7.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm8.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm9.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm10.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm11.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm12.jpg" alt="iPhone 5 concent" />
                    <img src="http://www.yankodesign.com/images/design_news/2012/05/02/iphone_5lm13.jpg" alt="iPhone 5 concent" />
                    Source: http://www.yankodesign.com/2012/05/02/iphone-liquidmetal-orgasm/
                    Designer:
                    <a href="http://www.yankodesign.com/?s=&quot;Antoine+Brieux&quot;&amp;x=0&amp;y=0&amp;lang=ICL_LANGUAGE_CODE" target="_self">Antoine Brieux</a>
                </div>

                <div class="tab-content">
                    <h4>
                        Top 10 New Features Expected in Apple iPhone 5
                    </h4>
                    <div class="ol">
                        <ol>
                            <li style="font-size:64px;" class="first">Larger screen!</li>
                            <li style="font-size:36px;">Quad-Core Processor</li>
                            <li style="font-size:32px;">Support for 4G data network</li>
                            <li style="font-size:28px;">Beter Front camera (1 MP,3 MP)</li>
                            <li style="font-size:24px;">Faster graphics chip</li>
                            <li style="font-size:22px;">New slimmer, lighter design</li>
                            <li style="font-size:16px;">Better Main camera (10 MP, 12 MP)</li>
                            <li style="font-size:14px;">Wireless charging</li>
                            <li style="font-size:14px;">Capacity: 16GB , 32GB, 64GB, 128GB</li>
                            <li style="font-size:14px;">Better battery life</li>
                        </ol>
                    </div>
                </div>

                <div class="tab-content">
                    <h4>
                        Price
                    </h4>
                    <h5 style="font-weight: bold;">At this stage no official price has been unveiled but we expect the iPhone 5 to be the same price than the iPhone 4S when it was released. There are also some romours claiming that the iPhone 5 well be in the range of $699 and $899.</h5>
                </div>

                <div class="tab-content">
                    <h4>
                        Release Date
                    </h4>
                    <h5>Latest rumours are claiming that iPhone 5 to release in october 2012. </h5>
                </div>

            </div>
        </div>

        <!-- Include JavaScript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://benalman.com/code/projects/jquery-hashchange/jquery.ba-hashchange.js"></script>        
        

        <script type="text/javascript" src="js/script.js"></script>


      
</body>
</html>
