<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vem sem fila</title>
<html>
<head>
        <title>Hostess</title>
        <!--[if IE 7]><style type="text/css">#v-nav>ul>li.current{border-right:1px solid #fff!important}#v-nav>div.tab-content{z-index:-1!important;left:0}</style><![endif]-->
        <!--[if IE 8]><style type="text/css">#v-nav>ul>li.current{border-right:1px solid #fff!important}#v-nav>div.tab-content{z-index:-1!important;left:0}</style><![endif]-->
        <link rel="stylesheet" href="css/pages.css" />
        <link rel="stylesheet" href="css/styles.css" />
    </head>
<body>
       
        <div class="wrapper">
            <div id="v-nav">
                <ul>
                    <li tab="tab1" class="first current"><img src="img/logo_hostess.png" width="82" height="66"></li>
                    <li tab="tab2">Gestão de Filas</li>
                    <li tab="tab3">Reservas</li>
                    <li tab="tab4">Clientes</li>
                    <li tab="tab5">Estatísticas</li>
                    <li tab="tab6" class="last">Sair</li>
                </ul>

             <div class="tab-content">
                                    </div>

          <div class="tab-content">
                                <span class="rest">Restaurante Ráscal Shopping Leblon</span> <span class="tit">Gestão</span> <span class="local">Rio de Janeiro, 30 de Junho de 2013</span>

                  
                </div>

          <div class="tab-content">
                    <h4>
                        Price
                    </h4>
                    <h5 style="font-weight: bold;">At this stage no official price has been unveiled but we expect the iPhone 5 to be the same price than the iPhone 4S when it was released. There are also some romours claiming that the iPhone 5 well be in the range of $699 and $899.</h5>
                </div>

          <div class="tab-content">
                    <h4>
                        Release Date
                    </h4>
                    <h5>Latest rumours are claiming that iPhone 5 to release in october 2012. </h5>
                </div>

          </div>
        </div>

        <!-- Include JavaScript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://benalman.com/code/projects/jquery-hashchange/jquery.ba-hashchange.js"></script>        
        

        <script type="text/javascript" src="js/script.js"></script>


      
</body>
</html>
